/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, footer {
    background-color: #333;
    color: rgba(255, 255, 255, 0.25);
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #000; /* 将文本颜色设置为黑色 */
    text-decoration: none;
}

.search-section {
    text-align: center;
    margin-top: 20px;
}

.search-section input[type="text"] {
    padding: 10px;
    width: 300px;
}

.search-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.featured-books, .recommended-books {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.featured-books img, .recommended-books img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.footer-links {
    list-style-type: none;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}
